{% extends "tachoquiz/base.html" %}
{% load static %}

{% block title %}
  Account Created | Tacho Quiz
{% endblock %}

{% block content %}

<section class="confirm-section">
    <div class="screen-header">
        <h1 id="welcome-title">Welcome!</h1>
    </div>

    <p class="hero-desc confirm-p">
        Your account has been created successfully.
        Log in to start your first quiz.
    </p>

    <a href="{% url 'login' %}" class="action-btn">
        LOGIN
    </a>
</section>

{% endblock %}
