{% extends "tachoquiz/base.html" %}
{% load static %}

{% block content %}
<section class="login-section">
    <div class="screen-header">
        <h1>Login</h1>
    </div>

    {% if error %}
        <p class="error-msg">{{ error }}</p>
    {% endif %}

    <form method="POST">
    {% csrf_token %}

    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
        <div class="login-body">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="action-btn form-group">LOGIN</button>

            <p class="signup-text">
                Don't have an account?
                <a href="{% url 'register' %}" class="link-btn">Sign Up</a>
            </p>
        </div>
    </form>
</section>
{% endblock %}
