{% extends "tachoquiz/base.html" %}

{% block title %}
  Reset Password | Tacho Quiz
{% endblock %}

{% block content %}
<section class="login-section">
    <div class="screen-header">
        <h1>Reset Password</h1>
    </div>

    <form method="POST">
        {% csrf_token %}

        <div class="login-body">
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">
                    Email
                </label>

                {{ form.email }}

                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}
            </div>

            <button type="submit" class="action-btn form-group">
                SEND RESET LINK
            </button>
        </div>
    </form>
</section>
{% endblock %}