{% extends "tachoquiz/base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Password Reset Complete" %} | Tacho Quiz
{% endblock %}

{% block content %}
<section class="confirm-section">
    <div class="screen-header">
        <h1>{% translate "Password Reset Complete" %}</h1>
    </div>

    <div class="login-body">
        <p>
            {% translate "Your password has been changed successfully." %}
        </p>

        <a href="{% url 'login' %}" class="action-btn">
            {% translate "LOGIN" %}
        </a>
    </div>
</section>
{% endblock %}