{% extends "tachoquiz/base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Set New Password" %} | Tacho Quiz
{% endblock %}

{% block content %}
<section class="login-section">
    <div class="screen-header">
        <h1>{% translate "Set New Password" %}</h1>
    </div>

    <form method="POST">
        {% csrf_token %}

        <div class="login-body">

            {% if validlink %}

                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">
                        {% translate "New password" %}
                    </label>

                    {{ form.new_password1 }}
                    {{ form.new_password1.help_text }}
                    {{ form.new_password1.errors }}
                </div>

                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">
                        {% translate "Confirm new password" %}
                    </label>

                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>

                <button type="submit" class="action-btn form-group">
                    {% translate "RESET PASSWORD" %}
                </button>

            {% else %}

                <p class="error-msg">
                    {% translate "This password reset link is invalid or has expired." %}
                </p>

                <a href="{% url 'password_reset' %}" class="action-btn">
                    {% translate "REQUEST A NEW RESET LINK" %}
                </a>

            {% endif %}

        </div>
    </form>
</section>
{% endblock %}