{% extends "tachoquiz/base.html" %}

{% block content %}

<h1>{{ category.name }}</h1>

<form method="POST">
    {% csrf_token %}

    <h2>{{ question.text }}</h2>

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    {% for answer in question.answers.all %}
        <label>
            <input
                type="radio"
                name="answer"
                value="{{ answer.id }}"
                required
            >
            {{ answer.text }}
        </label>
        <br>
    {% endfor %}

    <button type="submit">Next</button>
</form>

{% endblock %}