{% extends "tachoquiz/base.html" %} {% load static %} {% block content %}
<section class="login-section">
  <div class="screen-header">
    <h1>Create Account</h1>
  </div>

  <div class="login-body">
    <form method="POST">
      {% csrf_token %}

      <div class="form-group">
        <label for="id_username">Username</label>
        {{ form.username }}
      </div>

      <div class="form-group">
        <label for="id_email">Email</label>
        {{ form.email }}
      </div>

      <div class="form-group">
        <label for="id_password1">Password</label>
        {{ form.password1 }}
      </div>

      <div class="form-group">
        <label for="id_password2">Confirm Password</label>
        {{ form.password2 }}
      </div>

      <button type="submit" class="action-btn form-group">Register</button>
    </form>

    {% if form.errors %}
    <div class="error-msg">{{ form.errors }}</div>
    {% endif %}

    <p class="signup-text">
      Already have an account?
      <a href="{% url 'login' %}" class="link-btn">Login</a>
    </p>
  </div>
</section>
{% endblock %}
