{% extends "tachoquiz/base.html" %}
{% load static %}

{% block title %}
  Create Account | Tacho Quiz
{% endblock %}

{% block content %}
<section class="login-section">
    <div class="screen-header">
        <h1>Create Account</h1>
    </div>

    <form method="POST">
        {% csrf_token %}

        <div class="login-body">

            <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                <label for="{{ form.username.id_for_label }}">
                    Username
                </label>
                {{ form.username }}
                {{ form.username.help_text }}
                {{ form.username.errors }}
            </div>

            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                <label for="{{ form.email.id_for_label }}">
                    Email
                </label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
                <label for="{{ form.password1.id_for_label }}">
                    Password
                </label>
                {{ form.password1 }}
                {{ form.password1.help_text }}
                {{ form.password1.errors }}
            </div>

            <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                <label for="{{ form.password2.id_for_label }}">
                    Password confirmation
                </label>
                {{ form.password2 }}
                {{ form.password2.help_text }}
                {{ form.password2.errors }}
            </div>

            <button type="submit" class="action-btn form-group">
                REGISTER
            </button>

            <p class="signup-text">
                Already have an account?
                <a href="{% url 'login' %}" class="link-btn">
                    Login
                </a>
            </p>

        </div>
    </form>
</section>
{% endblock %}